#checkout {
    padding: 4.5rem 0;
    font-family: poppins;
    color: var(--text-color);
}
#checkout input{
    border: 1px solid grey;
}
.address-details input[type=number]::-webkit-inner-spin-button,
.address-details input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.product-quantity{
    background-color: rgb(113, 127, 224,0.46);
    font-size: 0.75rem;
    font-weight: 700;
    top: -7px;
    left: -25px;
}
@media all and (max-width: 768px) {
    .product-quantity{
        left: -20px;
    }   
}
.product-quantity span{
    font-size: 0.85rem;
}
.product-desc{
    font-size: 0.75rem;
    color: var(--text-color2);
}
.placeOrder-btn button{
    background-color: var(--hover-color);
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    padding: 13px 15px;
    transition: all 0.4s;
    outline: none;
    text-align: center;
}
.placeOrder-btn button:hover{
    background-color: #6876d0;
    transform: all 0.4s;
}
.placeOrder-btn button:active{
    transform: translateY(1px);
}
.form-check-input:checked {
    background-color: var(--hover-color) !important;
    border-color: var(--hover-color) !important;
}