.blog .blog-content .image{
    width: 100%;
    overflow: hidden;
}
.blog .blog-content .image img{
    width: 100%;
    transition: .4s all;
}
.blog .blog-content .image img:hover{
    scale: 1.1;
}
.blog .blog-content .number{
    top: 10px;
    left: 10px;
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
    width: 70px;
}
.blog .blog-content .number h6{
    font-weight: bold;
    font-size: 20px;
}
.blog .blog-content .number p{
    font-size: 10px;
}
.blog .blog-content a{
    transition: .4s all;
}
.blog .blog-content .admin h2{
    color: black;
    transition: .4s all;
    position: relative;
}
.blog .blog-content .admin .continue span{
    position: relative;
    margin-right: 1rem;
}
.blog .blog-content .admin .continue span::after{
    content: "->";
    position: absolute;
    top: -2px;
    right: -20px;
}
.blog form input{
    outline: none;
}
.blog form svg{
    right: 20px;
}
.blog .categoris-blog ul li{
transition: .4s all;
cursor: pointer;
}
.blog .blog-content h2:hover,
.blog .blog-content .admin span:hover,
.blog .categoris-blog ul li:hover, 
.blog .archive ul li:hover{
color: var(--hover-color);
}
.blog .featured-products .image{
    width: 50%;
    cursor: pointer;
}
.blog .featured-products .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog .featured-products .image .overlay{
    background-color: #7180e0c6;
    opacity: 0;
    font-size: 1.5rem;
}
.blog .featured-products .image .overlay:hover{
    opacity: 1;
}
.blog .featured-products .text{
    width: 50%;
    overflow: hidden;
}
