.login{
    display: flex;
}
.login .container {
  background-color: #ebeff2;
  padding: 50px;
}
.login .container [type="submit"] {
  background-color: var(--hover-color);
  border-bottom: none;
}
.login .image {
  width: 50%;
  object-fit: cover;
}

.login .image img {
  width: 100%;
  object-fit: cover;
}

.login .container [type="submit"]:hover {
  background-color: var(--hover-color);
}
.log-input {
  position: relative;
  margin: 20px 0 40px;
  width: 100%;
}

.login form {
  width: 50%;
}
/* .log-input .alert{
  padding: 3px;
} */
.login .container input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px var(--hover-color) solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #000000;
}
.login .container input:focus,
.login .container input:valid {
  outline: 0;
  border-bottom-color: var(--hover-color);
}
.login .container label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
.login .container label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #6D3C1D;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.login .container input:focus + label span,
.login .container input:valid + label span {
  color: var(--hover-color);
  transform: translateY(-30px);
}
.login .container a{
  color: var(--hover-color);
}
.login .container p a{
  color: var(--hover-color);
}
.login form .buttons .loading {
  color: var(--hover-color);
}
@media (min-width: 0) and (max-width: 768px) {
    .login{
         display: flex;
         justify-content: center;
         align-items: center;
      flex-direction: column;
    }
    .login form {
      width: 100%;
    }
  
    .login .container{
        height: 100vh;
    }
    
  }