@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #222222;
  --text-color2: #888888;
  --text-color3: #555555;
  --hover-color: #717fe0;
  --grey-color: #e6e6e6;
  --bg-color: #222;
}

body {
  font-family: "Poppins", sans-serif;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.Poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.Poppins-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.playfair-display-thin {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: normal;
}

.playfair-display-extralight {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-style: normal;
}

.playfair-display-light {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-style: normal;
}

.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-medium {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
}

.playfair-display-semibold {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: normal;
}

.playfair-display-bold {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-extrabold {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-style: normal;
}

.playfair-display-black {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
}

.playfair-display-thin-italic {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-style: italic;
}

.playfair-display-extralight-italic {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  font-style: italic;
}

.playfair-display-light-italic {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-style: italic;
}

.playfair-display-regular-italic {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display-medium-italic {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
}

.playfair-display-semibold-italic {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}

.playfair-display-bold-italic {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}

.playfair-display-extrabold-italic {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-style: italic;
}

.playfair-display-black-italic {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
}

.regular-text {
  font-family: ' Poppins';
  font-size: 24px;
  line-height: 1.5;
}

.price-text {
  font-family: 'Poppins-SemiBold';
  font-size: 18px;
  line-height: 1.388888;
}
.sp-text {
  font-family: 'Poppins-SemiBold';
  font-size: 14px;
  line-height: 1.388888;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

img {
  width: 100%;
}

.curser-pointer {
  cursor: pointer;
}

.w-0 {
  width: 0%;
}

.transition {
  transition: all .4s;
}

.up-btn {
  background-color: rgb(113, 127, 224, 0.5);
  position: fixed;
  bottom: 2.5%;
  color: #fff;
  right: 3.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  z-index: 99;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
}

.up-btn:hover {
  background-color: var(--hover-color);
  transition: all 0.4s;
}

.up-btn svg {
  font-size: 1.5rem;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}
