@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

.single-product-container {
    margin-top: 100px;
    margin-bottom: 100px;
}
.product-and-product-details{
    height: 600px;
}
.product-and-product-details .product-details {
    width: 50%;
}
.product-and-product-details .product-details .price :nth-child(2) {
    color: var(--hover-color);
}

.product-and-product-details .product-details h4 {
    font-family: ' Poppins';
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    ;
}

.product-and-product-details .product-details .description-text,
.product-and-product-details .product-details .product-country span {
    color: #666;
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.7;
}
#single-product #carouselExampleIndicators{
    width: 50%;
}
@media all and (max-width: 768px) {
    .product-and-product-details{
        height: auto;
    }
    #single-product #carouselExampleIndicators{
        width: 100%;
    } 
    .product-and-product-details .product-details {
        width: 100%;
    }
} 
#single-product .carousel-indicators [data-bs-target] {
    width: 80px;
    height: 80px;
    text-indent: 0;
    overflow: hidden;
    z-index: 3;
}
#single-product .carousel-indicators {
    z-index: 3;
}
#single-product .carousel-control-next ,#single-product .carousel-control-prev{
    width: 5%;
    z-index: 3;
}
#single-product .carousel-control-next-icon,#single-product .carousel-control-prev-icon{
    background-image: none;
    color: var(--text-color2);
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
}
#single-product .carousel-control-next:hover svg,#single-product .carousel-control-prev:hover svg{
    color: var(--hover-color);
}
#single-product .carousel-control-prev svg:hover,#single-product .carousel-control-next svg:hover{
    color: var(--hover-color);
}
.count-cart {
    height: 40px;
}

.product-count {
    border: 1px solid var(--hover-color);
    border-radius: 0.15rem;
}

.counter-btn-container button:nth-child(1) {
    border: 1px solid var(--hover-color);
    border-right: none;
    border-top: none;
    color: var(--hover-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-btn-container button:nth-child(2) {
    border: 1px solid var(--hover-color);
    border-right: none;
    border-top: none;
    border-bottom: none;
    color: var(--hover-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-btn-container button svg {
    color: var(--hover-color);
}

.count-cart .add-cart-btn {
    border: 1px solid var(--hover-color);
    background-color: var(--hover-color);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    cursor: pointer;
    font: 13px lato;
}

.count-cart .add-cart-btn:hover {
    opacity: 0.8;
    background-color: var(--hover-color);
}

.count-cart .heart-icon {
    border: 1px solid var(--hover-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    transition: all 0.4s;
}

.count-cart .heart-icon:hover {
    color: #fff;
    background-color: var(--hover-color);
    transition: all 0.4s;
    cursor: pointer;
}

.social-icons {
    margin: 30px 0;
}

.social-icons svg {
    transition: all .4s;
}

.social-icons svg:nth-child(1):hover {
    color: #3B5998;
    transition: .5s;
}

.social-icons svg:nth-child(2):hover {
    color: #00ACED;
    transition: .5s;
}

.social-icons svg:nth-child(3):hover {
    transition: .5s;
    color: #CB2027;
}

.social-icons svg:nth-child(4):hover {
    transition: .5s;
    color: #ff0000;
}
.description-and-ratting .nav-pills .nav-link.active,
.description-and-ratting .nav-pills .show>.nav-link {
    border-radius: 0;
}

.description-and-ratting .nav-pills .nav-link.active,
.description-and-ratting .nav-pills .show>.nav-link:focus {
    border-radius: 0;
}

.description-and-ratting .nav-item .nav-link,
.description-and-ratting .nav-pills .nav-link.active,
.description-and-ratting .nav-pills .show>.nav-link {
    font-family: Poppins;
    cursor: pointer;
    margin-right: 0.75rem;
    padding: 2px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-color2);
    background: transparent;
    border: none;
    border-radius: 0;
    transition: all 0.4s;
    border-bottom: 1px solid transparent;
}

.description-and-ratting .nav-item .nav-link.active {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    transition: all 0.4s;
}

.description-and-ratting .nav-item .nav-link:hover {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    transition: all 0.4s;
}
.description-and-ratting .reviews .user-review .user-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.description-and-ratting .reviews .user-review .user-image img{
    width: 100%;
    height: 100%;
}
.description-and-ratting .reviews .user-review .user-name .rating{
    cursor: pointer;
}
.description-and-ratting .reviews .user-review .user-name .rating svg{
    font-size: 20px;
    color: #F9BA48;
}
.description-and-ratting form .your-rating svg{
    font-size: 20px;
    color: #F9BA48;
}
.description-and-ratting form .name-and-email input{
    border: 1px solid #e6e6e6;
    width: 600px;
    padding:5px 10px;
    outline: none;
}
.description-and-ratting form [type=submit]{
    border: none;
    width: 200px;
    transition: .4s all;
}
.description-and-ratting form [type=submit]:hover{
    background-color: var(--hover-color);
    transition: .4s all;
}
.description-and-ratting .nav-item .active{
    border-bottom: 2px solid black;
    transition: 0 all;
    /* transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out; */
    /* transition-behavior: normal, normal, normal; */
    transition-duration: 0;
    transition-timing-function:0;
    transition-delay: 0;
    transition-property:0;
}
@media screen and (max-width:700px) {
    .product-and-product-details {
        display: flex;
        flex-direction: column;
    }

    .count-cart .add-cart-btn {
        font: 12px;
    }
    .description-and-ratting .reviews, .description-and-ratting form .name-and-email{
        display: flex;
        flex-direction: column;
    }
    .description-and-ratting form .name-and-email input{
        width: 100%;
    }
}
#single-product .images .active::after{
    background:none;
}
#btn-icon,#btn-icon2{
    background-color: var(--hover-color);
    height: 50px;
    width: 35px;
}