/* .p-image{
   
} */
.single-product-container{
    margin-top: 100px;
}
/* .container .image .p-image{
    width: 400px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
   transition: 1s;

}
.x{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.container .image .p-image img:hover{
   height: 100%;
   width: 100%;
   transition: 5s;
}
.container .image .small-images{
    width: 100%;
    height:100%
}
.container .image .small-images img{
    width: 80px;
    height: 80px;
    cursor: pointer;
} */
.carousel-indicators [data-bs-target]{
    width: 80px;
    height: 80px;
    text-indent: 0;
    overflow: hidden;
}
span{
    color: rgb(201, 195, 195);
}
.social-icons svg{
    transition: .5s;
}
.social-icons svg:nth-child(1):hover{
    cursor: pointer;
    color: #3B5998;
    transition: .5s;
}
.social-icons svg:nth-child(2):hover{
    cursor: pointer;
    color: #00ACED;
    transition: .5s;
}
.social-icons svg:nth-child(3):hover{
    cursor: pointer;
    transition: .5s;
    color: #CB2027;
}
.social-icons svg:nth-child(4):hover{
    cursor: pointer;
    transition: .5s;
    color: #ff0000;
}
@media screen and (max-width:576px)  {
    .product-and-product-details{
        display: flex;
        flex-direction: column;
    }
}