.swiper-button-prev,.swiper-button-next{
  color: var(--hover-color) !important;
}
.swiper-button-prev{
  left: var(--swiper-navigation-sides-offset, 0px) !important;
}
.swiper-button-next{
  right: var(--swiper-navigation-sides-offset, 0px) !important;
  text-align: justify;
}